/* Add mobile styles for the component here.  */
.cancel-button {
    background-color: gainsboro;
    color: #C00000;
    font-weight: bold;
    width: 40%;
}

.start-button {
    font-weight: bold;
    width: 40%;
}

.stop-button {
    font-weight: bold;
    width: 40%;
    background-color:#C00000
}

.start-button:active {
    background-color: orange;
}

.cardio-flexbox {
    padding-left: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
    padding-bottom: 7%;
    border-radius: 25px;
}

.weightLifting-flexbox{
    padding-left: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 7%;
}

.chooseWorkoutLabel {
    margin: 2% auto 2% auto;
    font-size: 25%;
    text-align: center;
    text-decoration: underline;
}

.timeLabel, .lastWorkoutLabel {
    margin-left: 3%;
    margin-bottom: 2%;
    margin-top: 2%; 
    font-size: 20%; 
    padding-top: 15%;
}

.cardioLabel, .weightLiftingLabel {
    margin-left: 3%;
    margin-bottom: 2%;
    margin-top: 2%; 
    font-size: 20%;  
    padding-top: 15%;
}


