/* Add mobile styles for the component here.  */

#reps-weight-stackLayout {
    border-color: black;
    border-style: solid;
    margin-top: 10em;
    width: 95%;
}

#remove-stackLayout {
    width: 10%;
}

#addRepButton {
    margin-top: 10em;
    height: 23em;
    background-color: aliceblue;
    color: black;
    width: 100em;
}

.rep-details {
    border-color: black;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 100;
}

.setNumber-label{
    text-align: center;
    margin-top: 24px;
}

.reps-weight-labels {
    margin-bottom: 5em;
    color: white;
    font-weight: bold;
    width: 95%;
    text-align: center;
}

.reps-weight-textField {
    background-color: #eeeeee;
    border-radius: 10px;
    text-align: center;
}

.removeButton {
    background-color: #C00000;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    height: 15em;
    width: 15em;
    margin-bottom: 8em;
}