/* Add mobile styles for the component here.  */

.goals {
    background-color: #eeeeee;
    border-radius: 15px;
    padding-left: 20px;
    border-style: outset;
    border-width: 5px;
}

.myGoalsText {
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
}