/* Add mobile styles for the component here.  */

Button {
    color: white;
}

.startWorkoutButton {
    background-color: #00658A;
    margin-top: 10em;
    border-radius: 15px;
    border-style: outset;
    border-width: 5px;
    margin-bottom: 2%;
    width: 35%;
}

#workout-history-label {
    margin-top: 45em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
}