/* Add mobile styles for the component here.  */

.cardStyle {
    color: rgb(43, 43, 43);
}

.cardContent {
    border-width: 5px;
    border-style: outset;
    background-color: #047493;
    padding: 20;
    font-weight: bold;
    font-size: 30;
    color: red;
    border-radius: 25px;
    width: 75%;
    height: 50%;
}

.workout-name {
    color: white;
    text-align: center;
    font-size: medium;
    padding-bottom: 33px;
}

.startWorkoutImage {
    align-self: center;
    height: 500px;
}

.conclude-button {
    background-color: #C00000;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}

.timeLabel {
    margin-left: 3%;
    margin-bottom: 2%;
    font-size: 20%;
    color: #047493;
}

.viewWorkoutButton {
    background-color: #047493;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}

#finishWorkoutButton {
    background-color: #047493;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}

#pause-finish-button-flexbox {
    justify-content: center;
}