/* Add mobile styles for the component here.  */

.profile-pic {
    background-color: aquamarine;
    align-self: center;
    height: 500px;
}

.change-image-text {
    font-size: 18px;
    color: #0645AD;
}

.edit-profile-text {
    font-size: 18px;
    color: black;
}