/* Add mobile styles for the component here.  */

Button {
    color: white;
}

.profile-info-gridbox {
    height: 25%;
    background-color: #047493;
}

.profile-tabs {
    height: 74.9%;
}

.profile-picture {
    width: 25%;
    background-color: white;
}