/* Add mobile styles for the component here.  */

Button {
    color: white;
}

.profile-info-gridbox {
    height: 40%;
    background-color: aqua;
}

.profile-tabs {
    height: 59.9%;
}

.profile-picture {
    background-color: white;
    border-radius: 100%;
}

.profile-username {
    font-weight: bold;
}

.personal-goal {
    background-color: blanchedalmond;
}