/* Add mobile styles for the component here.  */

Button {
    color: white;
}

TabStrip {
    background-color: #047493;
}

Label {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#bottomNavBar {
    width: 100%;
    height: 100%;
}