@import '~@nativescript/theme/css/core.css';
@import '~@nativescript/theme/css/blue.css';
ActionBar {
    background-color: #00658A;
}

Button {
    background-color: #00658A;
    border-radius: 15px;
    border-style: outset;
    border-width: 5px;
    color: white;
    margin-bottom: 2%;
    width: 35%;
}